/************************* education css ***************************/
.education-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .education-table th,
  .education-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .education-table th {
    background-color: #3498db;
    color: #fff;
  }
  
  .education-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .education-table tbody tr:hover {
    background-color: #ddd;
  }